body{
    background-color: #896d39;
}
p{
    font-size: 30px;
}
button{
    border-width:15px;
    border-style:bold;
    border-radius:20px
}
input{
    color:#671f1f;
    backgroud-color:rgb(90, 169, 47);
    width:30px;
}